.ipynb_checkpoints
/*.ipynb_checkpoints/*
exercises_2/data
exercises_2/data/*
exercises_2/outputData
exercises_2/outputData/*
exercises_2/plots
exercises_2/plots/*
lectures/*.png
lectures/*.html
lectures/*.json
